<h1 [style.textTransform]="textTransform" [style.color]="color">
  <button (click)="previous()">&lt;</button> Zespół: {{band.name}}
  <button (click)="next()">&gt;</button>
</h1>
<div>
  <label><input type="checkbox" [(ngModel)]="showBio" />Pokaż biografię</label>
  <p *ngIf="showBio">{{band.bio}}</p>
</div>
<div>
  Gatunki muzyczne:
  <ul>
    <li *ngFor="let genre of band.genres">{{genre}}</li>
  </ul>
</div>
<div>
  Członkowie zespołu:
  <ul>
    <li *ngFor="let member of band.members">{{member}}</li>
  </ul>
</div>
<div>
  Linki: 
  <a [href]="band.links.wikipediaUrl">Wikipedia</a><br />
</div>
<div>
  Ustawienia:
  <button (click)="changeTransform()">Wielkie/małe litery</button>
  <select [(ngModel)]="color">
    <option *ngFor="let col of colors" [ngValue]="col">{{col}}</option>
  </select>
</div>
<div>
  <app-band-details-photo [photoUrl]="band.links.photoUrl"></app-band-details-photo>
</div>