<div class="card mb-2 mt-2">
    <div class="card-body">
        <h4 class="card-title">Wybierz zespół</h4>
        <div *ngIf="bands$ | async as bands; else loading">
            <select [(ngModel)]="band" class="form-control">
                <option [ngValue]="null">Brak</option>
                <option *ngFor="let band of bands" [ngValue]="band">{{band.name}}</option>
            </select>
            <br />
            <button type="button" class="btn btn-primary" (click)="click$.next()">Załaduj zespoły</button>
        </div>
        <ng-template #loading>
            <p>Ładowanie listy zespołów...</p>
        </ng-template>
    </div>
</div>

<div *ngIf="band; else bandEmpty">
    <app-band-details [band]="band"></app-band-details>
</div>

<ng-template #bandEmpty>
    <div class="card">
        <div class="card-body">
            Proszę wybrać zespół!
        </div>
    </div>
</ng-template>