<div class="card mb-2 mt-2">
    <div class="card-body">
        <h4 class="card-title">Wybierz zespół</h4>
        <select [(ngModel)]="band" class="form-control">
            <option [ngValue]="null">Brak</option>
            <option *ngFor="let band of bands; trackBy: trackBand" [ngValue]="band">{{band.name}}</option>
        </select>
    </div>
</div>

<div *ngIf="band; else bandEmpty">
    <app-band-details [band]="band" (shift)="shiftBand($event)"></app-band-details>
</div>

<ng-template #bandEmpty>
    <div class="card">
        <div class="card-body">
            Proszę wybrać zespół!
        </div>
    </div>
</ng-template>